body, button, input {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.container .create-food {
  background-color: #d63031;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 16px;
  right: 24px;
  border: none;
  transition: all 0.1s linear 0.1s;
}

.container .create-food:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 0px;
  transform: scale(1.2);
}